:root {
    --bg-header: rgb(81, 43, 212);
    --sombra-inset: rgba(120, 98, 201, 0.473);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 340px;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

body::-webkit-scrollbar {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-header);
}

/* Botones */
.contBtns {
    width: 60px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: .5%;
    right: 1%;
    z-index: 100;
}

.contBtns__btnImg {
    width: 60px;
    height: 60px;
}

/* header */

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav */
.nav {
    width: 100%;
    min-width: 250px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px var(--bg-header) solid;;
}

/* main */
.main {
    width: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
.footer {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg-header);
    border-radius: 15px 15px 0 0;
}

@media (max-width: 800px) {
    body::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 425px) {
    .contBtns {
        width: 50px;
        height: 80px;
        bottom: 2%;
        right: 1%;
    }

    .contBtns__btnImg {
        width: 50px;
        height: 40px;
    }
}