:root {
    --bg-header: rgb(81, 43, 212);
    --sombra-inset: rgba(120, 98, 201, 0.473);
}

@media (max-width:1000px) {
    .header {
        position: relative;
        float: 0;
        border-bottom: 2px var(--bg-header) solid;
    }

    .header__menuBtn {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 2%;
        padding: 5px;
        border-radius: 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .header {
        justify-content: flex-start;
        padding-left: 2%;
    }
    
    .header__h1 {
        font-size: 14pt;
    }
}

@media (max-width: 400px) {    
    .header__h1 {
        font-size: 12pt;
    }
}