:root {
    --bg-header: rgb(81, 43, 212);
    --sombra-inset: rgba(120, 98, 201, 0.473);
}

@media (max-width: 1200px) {
    .nav__ul {
        width: 100%;
    }
}

@media (max-width:999px) {
    body {
        position: relative;
    }

    .nav {
        display: none;
        position: absolute;
        top: 10vh;
        right: 0;
        width: 30%;
        height: calc(100% - 10vh);
        box-shadow: inset 0 0 10px 3px var(--sombra-inset);
        background-color: white;
    }

    .nav__ul {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .nav__li {
        width: 96%;
    }
}